package app

import "github.com/quachnamluong/website-ke-toa/view/layout"

templ Index() {
    @layout.Base("app") {
        <h1>Welcome to MyApp</h1>
		<p>This is the home page, rendered with templ.</p>
    }
}